body{
  max-width:100%;
  background-color:#a0b0b5;
  font-family:"Kozuka Gothic Pr6N EL";
}

#container{
  width:70%;
  margin: 0 auto;
}

#header{
  float:left;
  padding:20px;
}
#logout
{
  float:right;
  width:200px;
  text-align:right;
}
#header a:link,a:visited{
  color:#000;
  text-decoration:none;
}

#sidebar{
  clear:both;
  width:20%;
}
#sidebar li{
  list-style-type: none;
}
#sidebar a:link{
  text-decoration:none;
  color: #005090;
}
#sidebar a:visited{
  text-decoration:none;
  color: #005090;
}
#sidebar a:hover{
  color: #b48011;
}

#content{
  border-radius:8px;
  background-color:#bbbfd0;
  width:auto;
  height:auto;
  color:#555;
  margin:10px 10px;
  padding:20px;
}
#content h3{
  text-align:center;
}
#content p{
}
#content table{
  margin:20px auto;
  width:700px;
  border-collapse:collapase;
  border:0px;
  border-radius: 8px;
  word-wrap:break-word;
}
#content a:link,a:visited{
  text-decoration:none;
  color: #005090;
}
#content a:hover{
  color: #b48011;
}
td{
  font-style:normal;
  background-color: #ddd;
  padding:5px 15px;
  margin:0px;
  border-radius: 8px;
}
th{
  font-style:normal;
  background-color: #aaa;
  padding:5px;
  margin:0px;
  border-radius: 8px;
}

table.objects{
  margin:15px;
  width:90%;
}
th.title{
  font-family:"Kozuka Gothic Pr6N EL";
  width:50px;
}
td.delete{
  text-align:center;
}
td.date{
  text-align:right;
  width:120px;
  font-size:12px;
}
td.posted_by{
  text-align:right;
  width:120px;
  font-size:12px;
}

#write{
  margin:0px 10px;
  padding:10px 0px;
  background-color:#707070;
  border-radius: 8px;
}
#write .input{
  margin:auto;
}

td.error{
  color: #a55;
  padding: 0px;
  text-align:center;
  background-color:#fff;

}


#objectpage{
  border-radius:8px;
  background-color:#bbbfd0;
  width:auto;
  height:auto;
  color:#555;
  margin:10px 10px;
  padding:20px;
}
#objectpage table{
  margin-left:auto;
  margin-right:auto;
  margin-top:15px;
  width:90%;
}
#objectpage td.title{
  text-align:center;
  background-color:#aaa;
}
#objectpage p{
  margin-left:50px;
}
#objectpage td.posted_by{
  background-color:#bbb;
}

#auth{
  margin-left:50px;
}
#auth table.auth{
  border-radius: 0px;
  border-collapse:collapse;
  background-color:#888;
  border-radius: 8px;
}
#auth tr{
  border:1px #888 solid;
}
#auth td{
  border-radius: 0px;
  border:1px #979a9f solid;
}
#auth td.title{
  background-color:#888;
  text-align:center;
  font-size:15px;
  font-style:normal;
}


#footer{
}
